.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  color: #61dafb;
  background-blend-mode: color;
}

.App-header {
  background-color:  000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .home,
  .reports,
  .contact,
  .events,
  .support {
  display: flex;
  margin-left: 260px;
  font-size: 0.75rem;
  }

  .services{
    padding-top: 30px;
    font-size: 0.50rem;
  }

  .inputText{
    width: 100%;
    padding-top: 50px;
  }
  
  .code-space{
    height: 200px;
    width: 800px;
    margin-left: 300px;
    background-color: black;
    color: white;
  }

  .mybtn{
    color: black;
    align-self: flex-end;
  }

  .prompt{
    margin-left: 20px;
    margin-top: 5px;
    max-height: 200px; 
    width: 800px;
    
  }

  .shadow{
    text-shadow: -1px -1px 0px #ffffff;
  }

  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }